
html, body {
    margin: 0;
    padding: 0;
    overflow: auto;

}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', sans-serif;
}

section {
    width: 100%;
}
nav.navbar.navbar-expand-lg.position-fixed {
    width: 100%;
    word-wrap: break-word;
    background-color: white;

}
a#section1.nav-link{
    cursor: pointer;
    color: black;
    text-decoration: none;

}
a#section1.nav-link:hover {
    color: #D02C68;
}
a#section2.nav-link{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
a#section2.nav-link:hover {
    color: #D02C68;
}
a#section4.nav-link{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
a#section4.nav-link:hover {
    color: #D02C68;
}
a#section5.nav-link{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
a#section5.nav-link:hover {
    color: #D02C68;
}
a#section6.nav-link{
    cursor: pointer;
    color: black;
    text-decoration: none;
}
a#section6.nav-link:hover {
    color: #D02C68;
}

.ro {
    border: 1px solid red
}

/* MWNU */

nav {
    z-index: 1;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    background-color: white;
}

.navbar {
    width: 100%;

}

.nav-a li a {
    color: black;
    text-decoration: none;

}

.nav-a li a:hover {
    color: #D02C68;
}

.img-logo {
    max-width: 20%;
    margin-left: 30px;
    flex-wrap: wrap;
}
.button-menu i {
    color: #D02C68; ;
    border-color: #FFFFFF;
}
/* SECTION 1 */

#carousel img {
    cursor: pointer;

}

#carousel ol li {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}

.text-slider {
    color: #663200;
    background-color: #FFFFFF;
    opacity: 70%;
    max-width: 65%;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

}

/* SECTION 2 */

.section2-text {
    background-color: #F8DFE8;
    margin-top: 30px;
}

.text-n {
    margin-right: 30px;
    margin-left: 30px;
}

.img-nosotros {
    max-height: 100vh;
    margin-top: 30px;
}

.text-n {
    margin-bottom: 20px;
}

.color-text {
    color: #D02C68;
}

/* SECTION 3 */

.img-vm {
    margin-top: 30px;
    display: inline-block;
    position: relative;
}

.img-nosotros-home{
    height: auto; width: 100%
}


.img-vm a {
    background-color: white;
    opacity: 75%;
    color: #D02C68;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 70px;
}

.img-vm a:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(65, 65, 65, 0.1);
    transition: all 1s ease;
}

.img-vm a:hover:before {
    width: 100%;
}

/* SECTION 4 */

.hover-carousel {
    display: flex;
    -webkit-transform: translateZ(0);
    /*width: 55%;*/
    height: 200px;
    /*min-width: 550px;*/
    margin: auto;
    font-size: 0;
    background: white;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    /********************/
    /*height: 200px;*/
    /*-webkit-overflow-scrolling: touch;*/
    /* for tablets */
}

.touch .hover-carousel {
    overflow: auto;
}

.hover-carousel:before, .hover-carousel:after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 50px;
    font-size: 80px;
    line-height: 190px;
    color: #555;
    font-weight: bold;
    pointer-events: none;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.hover-carousel > .indicator {
    pointer-events: none;
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    background: #D82B6A;
    height: 4px;
    border-radius: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.2s, bottom 0.2s;
    transition: opacity 0.2s, bottom 0.2s;
}

.hover-carousel:hover > .indicator {
    opacity: 1;
    bottom: -10px;
}

.hover-carousel > .wrap {
    overflow: hidden;
    border-radius: 5px;
}

.hover-carousel > .wrap > ul {
    list-style: none;
    white-space: nowrap;
    height: 200px;
}

.hover-carousel > .wrap > ul > li {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0 0 0 5px;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
}

.hover-carousel > .wrap > ul > li:first-child {
    margin: 0;
}

.hover-carousel > .wrap > ul > li > img {
    display: block;
    height: 100%;
    margin: auto;
    vertical-align: bottom;
    position: relative;
    z-index: 1;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.p-especiales {
    color: #D82B6A;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.p-especiales h2 {
    font-weight: bold;
}

/* SECTION 5 */

.container-form {
    max-width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F5EBEB;
}

.buy-form {
    margin-bottom: 40px;
}

.text-buy {
    color: #D82B6A;
}

.email-icon {
    max-width: 8%;
    color: #D82B6A;
    margin-right: auto;
    margin-left: auto;
}

.form-input {
    display: block;
    max-width: 70%;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #D02C68 !important;
    background-color: #EFCFD8;
    border: 1px solid #EFCFD8;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;

}

.form-input-m {
    max-width: 70%;
    background-color: #EFCFD8;
    border: 1px solid #EFCFD8;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.button-form {
    display: block;
    border-radius: 20px;
    width: 140px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: white;
    background-color: #D02C68;
    border-color: #EFCFD8;
    cursor: pointer;
}

.button-form:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(208, 44, 104);
    transition: all 0.2s ease;
}

.section3-mobile{
    display: flex;
    flex-direction: row;
    height:100%
}

frame {
    position: absolute;
    z-index: 1;
}

/* FOOTER */
footer {
    background-color: #D02C68;
}

.footer-copyright {
    color: white;
    font-size: 14px;
}

/* SECTION 6 DELIVERY */

.delivery {
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;

}

.delivery h5 {
    color: #D02C68;
}

.icon-d {
    max-width: 10%;
    margin-bottom: 10px;
}

/* BOTON FLOTANTE */

.contenedor {
    width: 90px;
    height: 240px;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.botonF1 {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #00bb2d;
    right: 0;
    bottom: 0;
    position: fixed;
    margin-right: 16px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    cursor: pointer;
}

.botonF1 a {
    color: #FFFFFF;
}

span {
    transition: .5s;
}

.botonF1:hover span {
    transform: rotate(360deg);
}

.botonF1:active {
    transform: scale(1.1);
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    color: #FFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 20px;
    outline: none;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 26px;
    transform: scale(0);

}

.botonF2 {
    background: #3b5998;
    margin-bottom: 85px;
    transition: 0.5s;
}

.botonF2 a {
    color: #FFFFFF;

}

.botonF3 {
    background: #e4405f;
    margin-bottom: 130px;
    transition: 0.7s;
}

.botonF3 a {
    color: #FFFFFF;

}

.animacionVer {
    transform: scale(1);
}

/********************************** INDEX 2 ********************************/

/* ABOUT US */
#about {
    height: 100vh;
    display: flex;
    justify-content: center;

}

.about-us {
    flex-wrap: wrap;
    background-color: #F8DFE8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-about-us {
    margin-top: 30px;
    margin-bottom: 30px;
}

/********************************** INDEX 3 ********************************/

#especial{

    background: #EFCFD8;
}
.portada {
    background: url("/css/img/Cake & Cupcakes.png") no-repeat center center;
    background-size: 100%;
    height: 100vh;
    max-height: 400px;

}
.gal-img {
    height: auto;
    margin: 0;
}
.galeria {
    width: 80%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

 }


.galeria li {
    margin: 5px;
}
.galeria img {
    width: 200px;
    height: 150px;
    transition: width 1.1s, height 1.1s, transform 1.1s;
    -moz-transition: width 1.1s, height 1.1s, -moz-transform 1.1s;
    -webkit-transition: width 1.1s, height 1.1s, -webkit-transform 1.1s;
    -o-transition: width 1.1s, height 1.1s,-o-transform 1.1s;
}
.galeria img:hover {
    transform : scale(1.1);
    -moz-transform : scale(1.1);      /* Firefox */
    -webkit-transform : scale(1.1);   /* Chrome - Safari */
    -o-transform : scale(1.1);
}
.modal {
    display: none;
}
.modal:target {
    display: flex;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.imagen {
    display: flex;
    justify-content: center;
    align-items: center;

}
.imagen a {
    color: #FFFFFF;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}
.imagen a:nth-child(2){
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}
.imagen img {
    width: 500px;
    border: 7px solid #FFFFFF;
    box-sizing: border-box;
    max-height: 550px;
}
.cerrar {
    /*display: block;*/
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 25px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    line-height: 25px;
    margin: 15px 15px auto;
    top:0;
    right: 0;
}


/*********************************** INDEX 4 *********************************/

.portada2 {
    background: url("/css/img/Cookies.png") no-repeat center center;
    background-size: 100%;
    height: 100vh;
    max-height: 400px;
}





/************************** RESPONSIVE INDEX 1 *******************************/

@media only screen and (min-width: 280px) and (max-width: 767px) {
    section{
        height: auto;
    }
    #section1 {
        height: auto;
    }
    .carousel-item {
        height: auto;
    }
    .container-resp {
        flex-wrap: wrap;

    }
    .text-slider {
        max-width: 70%;
    }
    .text-slider h3 {
        font-size: 12px;

    }
    .text-slider p {
        font-size: 12px;
    }
    .slide {
        margin: auto;
    }
    .img-nosotros {
        max-height: 75vh;
    }
    .text-n {
        font-size: 25px;
    }
    .text-n-p {
        font-size: 14px;
    }

    .section3-mobile{
        display: flex;
        flex-direction: column;
    }
    .p-especiales h2 {
        font-weight: bold;
        font-size: 25px;
    }
    .container-form {
        max-width: 100%;
    }
    .buy-form {
        flex-wrap: wrap;
    }
    .text-buy-p {
        font-size: 14px;
    }
    .map-deli {
        flex-wrap: wrap-reverse;
    }
    .footer-copyright {
        font-size: 12px;
    }
    .botonF1 {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .botonF2 {
        margin-bottom: 75px;
    }
    .botonF3 {
        margin-bottom: 120px;
    }
    .btn {
        margin-right: 22px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px){
    .navbar {
        position: fixed;
    }
    .img-logo {
        max-width: 10%;
    }
    .text-n {
        margin-left: 0;
    }
    .img-nosotros-home {
        height: 370px;
    }
    .container-form {
        max-width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        position: fixed;
    }
    #carousel img{
        height: 100vh;
        width: 100%;
    }
    .section2-text {
        padding-top: 70px;

    }
    .text-n {
        margin-bottom: 20px;
        font-size: 30px;
        margin-left: 0;
        margin-right: 0;
    }
    .img-nosotros-home {
        height: 500px;
    }
    .container-form {
        max-width: 100%;
    }
    .slide {
        margin: auto;

    }
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) {
    .navbar {
        position: fixed;
    }
    #carousel img{
        height: 100vh;
        width: 100%;
    }
    .slide {
        margin: auto;
    }
    .section2-text {
        padding-top: 100px;

    }
    .img-nosotros-home {
        height: 650px;
    }
    .container-form {
        max-width: 100%;
    }

}


/************************** RESPONSIVE INDEX 3 & 4 VER MAS CAKES *******************************/
@media only screen and (min-width: 280px) and (max-width: 767px) {
    section{
        height: auto;
    }
    .img-logo {
        min-width: 12%;
    }
    .portada {
        height: 120px;
    }
    .portada2 {
        height: 120px;
    }
    .imagen img {
        width: 100%;
    }

}
@media only screen and (min-width: 1363px) and (max-width: 1624px) {
    .portada {
        height: 100vh;
        max-height: 100%;
    }
    .portada2 {
        height: 100vh;
        max-height: 100%;
    }
    .galeria {
        width: auto;
    }

}
@media only screen and (min-width: 1625px) and (max-width: 1920px) {
    .portada {
         height: 85vh;
         max-height: 100%;
    }
    .portada2 {
        height: 85vh;
        max-height: 100%;
    }


}

/************************** RESPONSIVE INDEX 2 SOBRE NOSOTROS *******************************/


@media only screen and (min-width: 280px) and (max-width: 767px) {
    section{
        height: auto;
    }
    #about {
        height: auto;
    }
    .text-n {
        margin-left: 0;
        margin-right: 0;
    }
}